.field-h{
    align-items: center;
    display: flex;
     justify-content: space-around;
     text-align: center;
      margin-left: -18rem;
      gap: 23px;
}
.below-part{
      
}
.img{
width: 243px;
    height: 261px;
    gap: 15rem;
    margin-left: 133px;
    margin-top: 65px;
}
.img2{
width: 243px;
    height: 261px;
    gap: 15rem;
    margin-left: 133px;
    margin-top: 65px;
}