.container1{
    box-shadow: 10px 20px 20px 30px white, 0px 30px 30px 30px gray;
    margin-left: 17rem;
    margin-top: 5rem;
}
.head{
    margin-left: 36rem;
    margin-top: -27rem;
    font-size: 38px;
    font-family: cursive;
    font-weight: bold;
}
